In [11]:
import pandas as pd
from tabulate import tabulate
csv_path_schools = "/Users/kaylabiddle/Downloads/Starter_Code-4/PyCitySchools/Resources/schools_complete.csv"
school_data = pd.read_csv(csv_path_schools)
csv_path_students = "/Users/kaylabiddle/Downloads/Starter_Code-4/PyCitySchools/Resources/students_complete.csv"
student_data = pd.read_csv(csv_path_students)

school_data.head()
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
# Number of unique schools
def calculate_total_schools(df):
    total_schools = df["school_name"].nunique()
    return total_schools

total_schools = calculate_total_schools(school_data)
print(f"Total Number of Schools: {total_schools}")

# Number of Students
def calculate_total_students(df):
    total_students = df["student_name"].nunique()
    return total_students

total_students = calculate_total_students(student_data)
print(f"Total Students: {total_students}")

# Calculated Budget
def calculate_total_budget(df):
    total_budget = df["budget"].sum()
    return total_budget

total_budget = calculate_total_budget(school_data)
print(f"Budget: ${total_budget:,.2f}")

Total Number of Schools: 15
Total Students: 32715
Budget: $24,649,428.00

Student Scores:

In [13]:
# Average math score
def calculate_math_score(df):
    total_math_scores = df["math_score"].sum()
    average_math_score = total_math_scores/total_students
    return average_math_score

average_math_score = calculate_math_score(student_data)
print(f"Average math score: {average_math_score:.2f}%")

# Average reading score
def calculate_reading_score(df):
    total_read_scores = df["reading_score"].sum()
    average_read_score = total_read_scores/total_students
    return average_read_score

average_read_score = calculate_reading_score(student_data)
print(f"Average reading score: {average_read_score:.2f}%")

def calculate_math_passing(df):
    passing_score = 70
    num_passed_math = df[df['math_score'] >= passing_score].shape[0]
    total_students = df.shape[0]
    percent_passed_math = (num_passed_math/total_students)*100
    return percent_passed_math

percent_passed_math = calculate_math_passing(student_data)
print(f"Passing math: {percent_passed_math:.2f}%")

def calculate_reading_passing(df):
    passing_score = 70
    num_passed_reading = df[df['reading_score'] >= passing_score].shape[0]
    total_students = df.shape[0]
    percent_passed_reading = (num_passed_reading/total_students)*100
    return percent_passed_reading

percent_passed_reading = calculate_reading_passing(student_data)
print(f"Passing reading: {percent_passed_reading:.2f}%")

def calculate_both_passing(df):
    passing_score = 70
    num_passed_both = df[(df['reading_score'] >= passing_score) & (df['math_score'] >= passing_score)].shape[0]
    total_students = df.shape[0]
    percent_passed_both = (num_passed_both/total_students)*100
    return percent_passed_both

percent_passed_both = calculate_both_passing(student_data)
print(f"Overall passing: {percent_passed_both:.2f}%")

Average math score: 94.57%
Average reading score: 98.03%
Passing math: 74.98%
Passing reading: 85.81%
Overall passing: 65.17%

In [14]:
merged_data = pd.merge(student_data, school_data, on="school_name")

total_students = merged_data['school_name'].value_counts()

# Total school budget
total_budget = merged_data.groupby('school_name')['budget'].mean()

# Per student budget
per_student_budget = total_budget / total_students

# Average math score
average_math_score = merged_data.groupby('school_name')['math_score'].mean()

# Average reading score
average_reading_score = merged_data.groupby('school_name')['reading_score'].mean()

# Define passing scores
passing_score = 70

# Calculate passing columns
merged_data['passed_math'] = merged_data['math_score'] >= passing_score
merged_data['passed_reading'] = merged_data['reading_score'] >= passing_score
merged_data['overall_passing'] = merged_data['passed_math'] & merged_data['passed_reading']


# % Passing Math
percent_passing_math = merged_data.groupby('school_name')['passed_math'].mean() * 100

# % Passing Reading
percent_passing_reading = merged_data.groupby('school_name')['passed_reading'].mean() * 100

# % Overall Passing
percent_overall_passing = merged_data.groupby('school_name')['overall_passing'].mean() * 100

# Create the summary DataFrame
per_school_summary = pd.DataFrame({
    'School Type': school_data.set_index('school_name')['type'],
    'Total Students': total_students,
    'Total School Budget': total_budget.map('${:,.2f}'.format),
    'Per Student Budget': per_student_budget.map('${:,.2f}'.format),
    'Average Math Score': average_math_score.map('{:.2f}%'.format),
    'Average Reading Score': average_reading_score.map('{:.2f}%'.format),
    '% Passing Math': percent_passing_math.map('{:.2f}%'.format),
    '% Passing Reading': percent_passing_reading.map('{:.2f}%'.format),
    '% Overall Passing': percent_overall_passing.map('{:.2f}%'.format)
})

# Display the summary DataFrame
print(tabulate(school_summary, headers='keys', tablefmt='fancy_grid'))

╒═══════════════════════╤═══════════════╤══════════════════╤═══════════════════════╤══════════════════════╤══════════════════════╤═════════════════════════╤══════════════════╤═════════════════════╤═════════════════════╤════════════════════╕
│                       │ School Type   │   Total Students │ Total School Budget   │ Per Student Budget   │ Average Math Score   │ Average Reading Score   │ % Passing Math   │ % Passing Reading   │ % Overall Passing   │ School Size        │
╞═══════════════════════╪═══════════════╪══════════════════╪═══════════════════════╪══════════════════════╪══════════════════════╪═════════════════════════╪══════════════════╪═════════════════════╪═════════════════════╪════════════════════╡
│ Bailey High School    │ District      │             4976 │ $3,124,928.00         │ $628.00              │ 77.05%               │ 81.03%                  │ 66.68%           │ 81.93%              │ 54.64%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Cabrera High School   │ Charter       │             1858 │ $1,081,356.00         │ $582.00              │ 83.06%               │ 83.98%                  │ 94.13%           │ 97.04%              │ 91.33%              │ Medium (1000-2000) │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Figueroa High School  │ District      │             2949 │ $1,884,411.00         │ $639.00              │ 76.71%               │ 81.16%                  │ 65.99%           │ 80.74%              │ 53.20%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Ford High School      │ District      │             2739 │ $1,763,916.00         │ $644.00              │ 77.10%               │ 80.75%                  │ 68.31%           │ 79.30%              │ 54.29%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Griffin High School   │ Charter       │             1468 │ $917,500.00           │ $625.00              │ 83.35%               │ 83.82%                  │ 93.39%           │ 97.14%              │ 90.60%              │ Medium (1000-2000) │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Hernandez High School │ District      │             4635 │ $3,022,020.00         │ $652.00              │ 77.29%               │ 80.93%                  │ 66.75%           │ 80.86%              │ 53.53%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Holden High School    │ Charter       │              427 │ $248,087.00           │ $581.00              │ 83.80%               │ 83.81%                  │ 92.51%           │ 96.25%              │ 89.23%              │ Small (<1000)      │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Huang High School     │ District      │             2917 │ $1,910,635.00         │ $655.00              │ 76.63%               │ 81.18%                  │ 65.68%           │ 81.32%              │ 53.51%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Johnson High School   │ District      │             4761 │ $3,094,650.00         │ $650.00              │ 77.07%               │ 80.97%                  │ 66.06%           │ 81.22%              │ 53.54%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Pena High School      │ Charter       │              962 │ $585,858.00           │ $609.00              │ 83.84%               │ 84.04%                  │ 94.59%           │ 95.95%              │ 90.54%              │ Small (<1000)      │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Rodriguez High School │ District      │             3999 │ $2,547,363.00         │ $637.00              │ 76.84%               │ 80.74%                  │ 66.37%           │ 80.22%              │ 52.99%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Shelton High School   │ Charter       │             1761 │ $1,056,600.00         │ $600.00              │ 83.36%               │ 83.73%                  │ 93.87%           │ 95.85%              │ 89.89%              │ Medium (1000-2000) │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Thomas High School    │ Charter       │             1635 │ $1,043,130.00         │ $638.00              │ 83.42%               │ 83.85%                  │ 93.27%           │ 97.31%              │ 90.95%              │ Medium (1000-2000) │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Wilson High School    │ Charter       │             2283 │ $1,319,574.00         │ $578.00              │ 83.27%               │ 83.99%                  │ 93.87%           │ 96.54%              │ 90.58%              │ Large (2000-5000)  │
├───────────────────────┼───────────────┼──────────────────┼───────────────────────┼──────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┼────────────────────┤
│ Wright High School    │ Charter       │             1800 │ $1,049,400.00         │ $583.00              │ 83.68%               │ 83.95%                  │ 93.33%           │ 96.61%              │ 90.33%              │ Medium (1000-2000) │
╘═══════════════════════╧═══════════════╧══════════════════╧═══════════════════════╧══════════════════════╧══════════════════════╧═════════════════════════╧══════════════════╧═════════════════════╧═════════════════════╧════════════════════╛

In [15]:
# Top 5 Passing Schools
passing_score = 70
merged_data = pd.merge(student_data, school_data, on="school_name")
merged_data['passed_math'] = merged_data['math_score'] >= passing_score
merged_data['passed_reading'] = merged_data['reading_score'] >= passing_score
merged_data['overall_passing'] = merged_data['passed_math'] & merged_data['passed_reading']

school_passing_summary = merged_data.groupby('school_name').agg({
    'overall_passing': 'mean',
    'Student ID': 'count'
}).rename(columns={'overall_passing': 'overall_passing_rate', 'Student ID': 'total_students'})

school_passing_summary['overall_passing_rate'] = school_passing_summary['overall_passing_rate'] * 100

sorted_schools = school_passing_summary.sort_values(by='overall_passing_rate', ascending=False)

top_schools = sorted_schools.head(5)

print(f"\033[1mHighest-Preforming:\033[0m")
print(tabulate(top_schools, headers='keys', tablefmt='fancy_grid'))

# Worst 5 schools
sorted_schools_ascending = school_passing_summary.sort_values(by='overall_passing_rate', ascending=True)

bottom_schools = sorted_schools_ascending.head(5)

print(f"\033[1mLowest-Preforming:\033[0m") 
print(tabulate(bottom_schools, headers='keys', tablefmt='fancy_grid'))

Highest-Preforming:
╒═════════════════════╤════════════════════════╤══════════════════╕
│ school_name         │   overall_passing_rate │   total_students │
╞═════════════════════╪════════════════════════╪══════════════════╡
│ Cabrera High School │                91.3348 │             1858 │
├─────────────────────┼────────────────────────┼──────────────────┤
│ Thomas High School  │                90.948  │             1635 │
├─────────────────────┼────────────────────────┼──────────────────┤
│ Griffin High School │                90.5995 │             1468 │
├─────────────────────┼────────────────────────┼──────────────────┤
│ Wilson High School  │                90.5826 │             2283 │
├─────────────────────┼────────────────────────┼──────────────────┤
│ Pena High School    │                90.5405 │              962 │
╘═════════════════════╧════════════════════════╧══════════════════╛
Lowest-Preforming:
╒═══════════════════════╤════════════════════════╤══════════════════╕
│ school_name           │   overall_passing_rate │   total_students │
╞═══════════════════════╪════════════════════════╪══════════════════╡
│ Rodriguez High School │                52.9882 │             3999 │
├───────────────────────┼────────────────────────┼──────────────────┤
│ Figueroa High School  │                53.2045 │             2949 │
├───────────────────────┼────────────────────────┼──────────────────┤
│ Huang High School     │                53.5139 │             2917 │
├───────────────────────┼────────────────────────┼──────────────────┤
│ Hernandez High School │                53.5275 │             4635 │
├───────────────────────┼────────────────────────┼──────────────────┤
│ Johnson High School   │                53.5392 │             4761 │
╘═══════════════════════╧════════════════════════╧══════════════════╛

In [16]:
# Average Score by Grade

# Calculate average math scores by school and grade
average_math_scores_by_school_grade = student_data.groupby(['school_name', 'grade']).agg({'math_score': 'mean'}).unstack()
average_math_scores_by_school_grade.columns = average_math_scores_by_school_grade.columns.droplevel()
average_math_scores_by_school_grade = average_math_scores_by_school_grade[['9th', '10th', '11th', '12th']]
average_math_scores_by_school_grade = average_math_scores_by_school_grade.rename(columns={'9th': '9th Grade', '10th': '10th Grade', '11th': '11th Grade', '12th': '12th Grade'})

# Calculate average reading scores by school and grade
average_reading_scores_by_school_grade = student_data.groupby(['school_name', 'grade']).agg({'reading_score': 'mean'}).unstack()
average_reading_scores_by_school_grade.columns = average_reading_scores_by_school_grade.columns.droplevel()
average_reading_scores_by_school_grade = average_reading_scores_by_school_grade[['9th', '10th', '11th', '12th']]
average_reading_scores_by_school_grade = average_reading_scores_by_school_grade.rename(columns={'9th': '9th Grade', '10th': '10th Grade', '11th': '11th Grade', '12th': '12th Grade'})

# Print the results using tabulate
print(f"\033[1mMath Scores By Grade and School:\033[0m")
print(tabulate(average_math_scores_by_school_grade, headers='keys', tablefmt='fancy_grid'))

print(f"\033[1mReading Scores By Grade and School:\033[0m")
print(tabulate(average_reading_scores_by_school_grade, headers='keys', tablefmt='fancy_grid'))

Math Scores By Grade and School:
╒═══════════════════════╤═════════════╤══════════════╤══════════════╤══════════════╕
│ school_name           │   9th Grade │   10th Grade │   11th Grade │   12th Grade │
╞═══════════════════════╪═════════════╪══════════════╪══════════════╪══════════════╡
│ Bailey High School    │     77.0837 │      76.9968 │      77.5156 │      76.4922 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Cabrera High School   │     83.0947 │      83.1545 │      82.7656 │      83.2775 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Figueroa High School  │     76.403  │      76.54   │      76.8843 │      77.1514 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Ford High School      │     77.3613 │      77.6723 │      76.9181 │      76.18   │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Griffin High School   │     82.044  │      84.2291 │      83.8421 │      83.3562 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Hernandez High School │     77.4385 │      77.3374 │      77.136  │      77.1866 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Holden High School    │     83.7874 │      83.4298 │      85      │      82.8554 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Huang High School     │     77.0273 │      75.9087 │      76.4466 │      77.2256 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Johnson High School   │     77.1879 │      76.6911 │      77.4917 │      76.8632 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Pena High School      │     83.6255 │      83.372  │      84.3281 │      84.1215 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Rodriguez High School │     76.86   │      76.6125 │      76.3956 │      77.6907 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Shelton High School   │     83.4208 │      82.9174 │      83.3835 │      83.779  │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Thomas High School    │     83.59   │      83.0879 │      83.4988 │      83.497  │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Wilson High School    │     83.0856 │      83.7244 │      83.1953 │      83.0358 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Wright High School    │     83.2647 │      84.0103 │      83.8368 │      83.645  │
╘═══════════════════════╧═════════════╧══════════════╧══════════════╧══════════════╛
Reading Scores By Grade and School:
╒═══════════════════════╤═════════════╤══════════════╤══════════════╤══════════════╕
│ school_name           │   9th Grade │   10th Grade │   11th Grade │   12th Grade │
╞═══════════════════════╪═════════════╪══════════════╪══════════════╪══════════════╡
│ Bailey High School    │     81.3032 │      80.9072 │      80.9456 │      80.9125 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Cabrera High School   │     83.6761 │      84.2532 │      83.7884 │      84.288  │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Figueroa High School  │     81.1986 │      81.4089 │      80.6403 │      81.3849 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Ford High School      │     80.6327 │      81.2627 │      80.4036 │      80.6623 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Griffin High School   │     83.3692 │      83.7069 │      84.2881 │      84.0137 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Hernandez High School │     80.8669 │      80.6601 │      81.3961 │      80.8571 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Holden High School    │     83.6772 │      83.3246 │      83.8155 │      84.6988 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Huang High School     │     81.2903 │      81.5124 │      81.4175 │      80.306  │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Johnson High School   │     81.2607 │      80.7734 │      80.616  │      81.2276 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Pena High School      │     83.8073 │      83.612  │      84.3359 │      84.5912 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Rodriguez High School │     80.9931 │      80.6298 │      80.8648 │      80.3764 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Shelton High School   │     84.1226 │      83.442  │      84.3738 │      82.7817 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Thomas High School    │     83.7289 │      84.2542 │      83.5855 │      83.8314 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Wilson High School    │     83.9398 │      84.0215 │      83.7646 │      84.3177 │
├───────────────────────┼─────────────┼──────────────┼──────────────┼──────────────┤
│ Wright High School    │     83.8333 │      83.8128 │      84.1563 │      84.0732 │
╘═══════════════════════╧═════════════╧══════════════╧══════════════╧══════════════╛

In [17]:
# Grades based off of spending
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
merged_data['spending_range'] = pd.cut(merged_data['budget'] / merged_data['size'], bins=spending_bins, labels=labels)
passing_score = 70

spending_summary = merged_data.groupby('spending_range').agg({
    'math_score': 'mean',
    'reading_score': 'mean',
    'Student ID': 'count',
    'passed_math': 'mean',
    'passed_reading': 'mean',
    'overall_passing': 'mean'

}).rename(columns={
    'math_score': 'average_math_score',
    'reading_score': 'average_reading_score',
    'Student ID': 'total_students',
    'passed_math': 'percent_passing_math',
    'passed_reading': 'percent_passing_reading',
    'overall_passing': 'percent_overall_passing'
})
spending_summary['percent_passing_math'] *= 100
spending_summary['percent_passing_reading'] *= 100
spending_summary['percent_overall_passing'] *= 100

print(f"\033[1mScores by School Spening:\033[0m")
print(tabulate(spending_summary, headers='keys', tablefmt='fancy_grid'))

Scores by School Spening:
╒══════════════════╤══════════════════════╤═════════════════════════╤══════════════════╤════════════════════════╤═══════════════════════════╤═══════════════════════════╕
│ spending_range   │   average_math_score │   average_reading_score │   total_students │   percent_passing_math │   percent_passing_reading │   percent_overall_passing │
╞══════════════════╪══════════════════════╪═════════════════════════╪══════════════════╪════════════════════════╪═══════════════════════════╪═══════════════════════════╡
│ <$585            │              83.3631 │                 83.964  │             6368 │                93.7029 │                   96.6866 │                   90.6407 │
├──────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼────────────────────────┼───────────────────────────┼───────────────────────────┤
│ $585-630         │              79.9829 │                 82.3126 │             9167 │                79.1099 │                   88.5131 │                   70.9392 │
├──────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼────────────────────────┼───────────────────────────┼───────────────────────────┤
│ $630-645         │              77.8211 │                 81.301  │            11322 │                70.6236 │                   82.6002 │                   58.8412 │
├──────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼────────────────────────┼───────────────────────────┼───────────────────────────┤
│ $645-680         │              77.0493 │                 81.0056 │            12313 │                66.2308 │                   81.1094 │                   53.5288 │
╘══════════════════╧══════════════════════╧═════════════════════════╧══════════════════╧════════════════════════╧═══════════════════════════╧═══════════════════════════╛

In [22]:
# Define bins and labels for school size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut on the "Total Students" column to create a new "School Size" column
per_school_summary['School Size'] = pd.cut(total_students, bins=size_bins, labels=labels)

# Remove formatting from numeric columns for aggregation
numeric_summary = pd.DataFrame({
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing': percent_overall_passing
})

# Add the "School Size" column to numeric_summary
numeric_summary['School Size'] = pd.cut(total_students, bins=size_bins, labels=labels)

# Group by "School Size" and calculate mean values
size_summary = numeric_summary.groupby('School Size').mean()

# Format the results
size_summary['Average Math Score'] = size_summary['Average Math Score'].map('{:.2f}'.format)
size_summary['Average Reading Score'] = size_summary['Average Reading Score'].map('{:.2f}'.format)
size_summary['% Passing Math'] = size_summary['% Passing Math'].map('{:.2f}%'.format)
size_summary['% Passing Reading'] = size_summary['% Passing Reading'].map('{:.2f}%'.format)
size_summary['% Overall Passing'] = size_summary['% Overall Passing'].map('{:.2f}%'.format)

# Print the size summary using tabulate
print(f"\033[1mScores by School Size:\033[0m")
print(tabulate(size_summary, headers='keys', tablefmt='fancy_grid'))

Scores by School Size:
╒════════════════════╤══════════════════════╤═════════════════════════╤══════════════════╤═════════════════════╤═════════════════════╕
│ School Size        │   Average Math Score │   Average Reading Score │ % Passing Math   │ % Passing Reading   │ % Overall Passing   │
╞════════════════════╪══════════════════════╪═════════════════════════╪══════════════════╪═════════════════════╪═════════════════════╡
│ Small (<1000)      │                83.82 │                   83.93 │ 93.55%           │ 96.10%              │ 89.88%              │
├────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┤
│ Medium (1000-2000) │                83.37 │                   83.86 │ 93.60%           │ 96.79%              │ 90.62%              │
├────────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┤
│ Large (2000-5000)  │                77.75 │                   81.34 │ 69.96%           │ 82.77%              │ 58.29%              │
╘════════════════════╧══════════════════════╧═════════════════════════╧══════════════════╧═════════════════════╧═════════════════════╛

In [24]:
# Remove formatting to convert columns back to numeric for aggregation
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].str.rstrip('%').astype('float')
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].str.rstrip('%').astype('float')
per_school_summary['% Passing Math'] = per_school_summary['% Passing Math'].str.rstrip('%').astype('float')
per_school_summary['% Passing Reading'] = per_school_summary['% Passing Reading'].str.rstrip('%').astype('float')
per_school_summary['% Overall Passing'] = per_school_summary['% Overall Passing'].str.rstrip('%').astype('float')

# Group by "School Type" and calculate mean values
type_summary = per_school_summary.groupby('School Type').mean()

# Format the results
type_summary['Average Math Score'] = type_summary['Average Math Score'].map('{:.2f}%'.format)
type_summary['Average Reading Score'] = type_summary['Average Reading Score'].map('{:.2f}%'.format)
type_summary['% Passing Math'] = type_summary['% Passing Math'].map('{:.2f}%'.format)
type_summary['% Passing Reading'] = type_summary['% Passing Reading'].map('{:.2f}%'.format)
type_summary['% Overall Passing'] = type_summary['% Overall Passing'].map('{:.2f}%'.format)

# Print the type summary using tabulate
print(f"\033[1mScores by School Type:\033[0m")
print(tabulate(type_summary, headers='keys', tablefmt='fancy_grid'))

Scores by School Type:
╒═══════════════╤══════════════════╤══════════════════════╤═════════════════════════╤══════════════════╤═════════════════════╤═════════════════════╕
│ School Type   │   Total Students │ Average Math Score   │ Average Reading Score   │ % Passing Math   │ % Passing Reading   │ % Overall Passing   │
╞═══════════════╪══════════════════╪══════════════════════╪═════════════════════════╪══════════════════╪═════════════════════╪═════════════════════╡
│ Charter       │          1524.25 │ 83.47%               │ 83.90%                  │ 93.62%           │ 96.59%              │ 90.43%              │
├───────────────┼──────────────────┼──────────────────────┼─────────────────────────┼──────────────────┼─────────────────────┼─────────────────────┤
│ District      │          3853.71 │ 76.96%               │ 80.97%                  │ 66.55%           │ 80.80%              │ 53.67%              │
╘═══════════════╧══════════════════╧══════════════════════╧═════════════════════════╧══════════════════╧═════════════════════╧═════════════════════╛